* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2b2823;
  > main {
    > h1 {
      color: #fff;
      font-family: "Rubik Scribble", system-ui, sans-serif;
      font-size: 4rem;
      font-style: bold;
      font-weight: 400;
      padding: 5rem;
      text-align: center;
      text-transform: uppercase;
    }

    div {
      // centralizando div
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      h2 {
        background-color: #d4ceaa;
        border-radius: .3rem;
        color: #2b2823;
        font-family: "Roboto", sans-serif;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: bold;
        margin-bottom: 2rem;
        padding: 1.5rem ;
        text-align: center;
        text-transform: uppercase;
      }

      #btn {
        background-color: transparent;
        border-radius: .5rem;
        border: 1px solid #f9fadc;
        color: #f9fadc;
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        padding: .8rem 4rem;
        text-transform: uppercase;
        // opacity: 0.4;
      }
      #btn:hover {
        font-weight: bold;
        opacity: 0.6;
      }
    }
  }
}