@import 'mixins';

* {
  @include border-box;
  margin: 0;
  padding: 0;
}

$cor-fonte-primaria: #2b2823;;
$cor-fonte-secundaria: #d4ceaa ;
$cor-fonte-terciaria: #fff;

body {
  background-color: $cor-fonte-primaria;
  > main {
    > h1 {
      color: $cor-fonte-terciaria;
      font-family: "Rubik Scribble", system-ui, sans-serif;
      font-size: 4rem;
      font-style: bold;
      font-weight: 400;
      padding: 5rem;
      text-align: center;
      text-transform: uppercase;
      @include d(m) {
        font-size: 2rem;
      }

      @include d(t) {
        font-size: 2.5rem;
      }
    }

    div {
      width: 100%;
      text-align: center;
      // centralizando div
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      h2 {
        margin: 0 auto;
        width: 20%;
        background-color: $cor-fonte-secundaria;
        border-radius: .3rem;
        color: $cor-fonte-primaria;
        font-family: "Roboto", sans-serif;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: bold;
        margin-bottom: 2rem;
        padding: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        @include d(m) {
          width: 70%;
        }
        @include d(t) {
          width: 40%;
        }
      }

      #btn {
        margin: 0 auto;
        justify-content: center;
        width: 20%;
        background-color: transparent;
        border-radius: .5rem;
        border: 1px solid #f9fadc;
        color: #f9fadc;
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        font-weight: bold;
        padding: .8rem 4rem;
        text-transform: uppercase;
        // opacity: 0.4;
        @include d(m) {
        width: 70%;
        }
        @include d(t) {
          width: 40%;
        }
      }
      #btn:hover {
        font-weight: bold;
        opacity: 0.6;
      }
    }
  }
}